
<%# Since we will be including the stats on both the user show pages and the %>
<%# home page, the first line of Listing 14.16 picks the right one using %>
<% @user ||= current_user %>

<div class="stats">
  
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>

  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>

</div>
